name: Build and test

on:
    # Only on pushes to main or one of the release branches we build on push
    push:
        branches:
            - main
            - latest
            - "[0-9].[0-9]+-branch"
        tags:
    # Build pull requests
    pull_request:

jobs:
    test:
        strategy:
            matrix:
                py:
                    - "3.10"
                    - "3.11"
                    - "3.12"
                    - "3.13"
                    - "3.14"
                    - "pypy-3.10"
                os:
                    - "ubuntu-24.04"
                    - "windows-2022"
                    - "macos-15"
                    - "macos-15-intel"
                architecture:
                    - x64
                    - arm64
                exclude:
                    # Ubuntu does not have arm64 releases
                    - os: "ubuntu-24.04"
                      architecture: arm64
                    # macOS does not have Python 3.10 releases
                    - os: "macos-15"
                      py: "3.10"
                    - os: "macos-15-intel"
                      py: "3.10"
                    # macOS does not have PyPy releases
                    - os: "macos-15"
                      py: "pypy-3.10"
                    - os: "macos-15-intel"
                      py: "pypy-3.10"
                    # Windows does not have arm64 releases
                    - os: "windows-2022"
                      architecture: arm64

        name: "Python: ${{ matrix.py }}-${{ matrix.architecture }} on ${{ matrix.os }}"
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v6
            - name: Setup python
              uses: actions/setup-python@v6
              with:
                  python-version: ${{ matrix.py }}
                  architecture: ${{ matrix.architecture }}
            - run: pip install tox
            - name: Running tox
              run: tox -e py -- ${{ matrix.pytest-args }}
